{% extends "home/base.html" %}
{% load static %}
{% load custom_filter %}
{% block placeholder %}
<body>
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shopping Cart</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Cart Start -->
    <div class="container-fluid">
        <form id="cart_form" method="post">
            {% csrf_token %}
        <div class="row px-xl-5">
                
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>Products</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Shop</th>
                            <th>Check</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    
                    <tbody class="align-middle">
                        
                        {% for cart_item in cart_items %}
                            <tr>
                                <td class="align-middle"><img src="{% static 'img/product' %}/{{ cart_item.product.image_path}}" alt="{{ cart_item.product.product_name }}" style="width: 100px;"> {{ cart_item.product.name }}</td>
                                <td class="align-middle">
                                    <a style="color: black;" href="/product/{{ cart_item.product.product_id }}">{{ cart_item.product.product_name }}</a>
                                </td>                                  
                                <td class="align-middle">{{ cart_item.product.product_price_new|format_price }}</td>
                                <td class="align-middle">
                                    <div class="input-group quantity mx-auto" style="width: 100px;">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-minus" data-id="{{ cart_item.id }}" data-price="{{ cart_item.product.product_price_new }}" type="button">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control form-control-sm bg-secondary border-0 text-center" value="{{ cart_item.quantity }}" name="quantity">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-plus" data-id="{{ cart_item.id }}" data-price="{{ cart_item.product.product_price_new }}"  type="button">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle price_ttc" id="price_{{ cart_item.id }}">{{ cart_item.price_tt|format_price }}</td>
                                <td class="align-middle price_ttc" value="{{cart_item.shop.paypal}}">{{ cart_item.shop.shop_name }}</td>
                                
                                <td class="align-middle"><input type="checkbox" name="cart_item_checkbox" value="{{ cart_item.id }}" id="cart_item_{{ cart_item.id }}" data-second-value="{{ cart_item.shop.paypal }}"></td>
                                <td class="align-middle"><a href="{% url 'remove_from_cart' cart_item_id=cart_item.id %}" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a></td>
                            </tr>
                        {% endfor %}
                        <input type="hidden" name="selectedItems" id="selectedItems" value="">
                        <input type="hidden" name="payment" id="selectedPayments" value=""> 
                    </tbody>
                
                </table>
            </div>
        
            <div class="col-lg-4">
                    <div class="input-group">
                        <div class="input-group-append">
                            <div class="btn btn-block btn-primary font-weight-bold pt-2">Apply Coupon</div>
                        </div>
                        <input type="text" class="form-control border-0 p-4" placeholder="Coupon Code" name="coupon">
                    </div>
                    {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-danger">{{ message }}</div>
                                {% endfor %}                
                        {% endif %}
                <h5 class="section-title position-relative text-uppercase mb-3 pt-2"><span class="bg-secondary pr-3">Cart Summary</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div class="border-bottom pb-2">
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total cart</h5>
                            <h5>{{ total_price|format_price }}</h5>
                        </div>
                        <div>
                            <button class="btn btn-block btn-primary font-weight-bold my-3 py-3" id="checkout_button" type="submit" name="checkout_button">Proceed To Checkout</button>
                        </div>
                        <div>
                            <button class="btn btn-block btn-primary font-weight-bold my-3 py-3" id="paypal_button" type="submit" name="paypal_button">Payment with Paypal</button>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
    <!-- Cart End -->
    
{% endblock %}