{% extends "home/base.html" %}
{% load static %}
{% load custom_filter %}
{% block placeholder %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Checkout</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Checkout Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <form class="row" id="billing_form" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                <div class="col-lg-8">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Địa chỉ nhận hàng</span></h5>
                    <div class="bg-light p-30 mb-5">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>E-mail</label>
                                <input class="form-control" type="text" placeholder="example@email.com" name="email">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Số điện thoại</label>
                                <input class="form-control" type="text" placeholder="+123 456 789" name="phone">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Địa Chỉ</label>
                                <input class="form-control" type="text" placeholder="123 Street" name="diachi">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Tỉnh/Thành phố</label>
                                <input class="form-control" type="text" placeholder="New York" name="tinh">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Quận/Huyện</label>
                                <input class="form-control" type="text" placeholder="New York" name="huyen">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
                        <div class="bg-light p-30 mb-5">
                            <div class="border-bottom">
                                <h6 class="mb-3">Products</h6>
                                {% for cart_item in cart_items %}
                                <div class="d-flex justify-content-between">
                                    <p>{{ cart_item.product.product_name }}</p>
                                    <p>{{ cart_item.price_tt|format_price }}</p>
                                    <input name="quantities[]" value="{{ cart_item.quantity }}" type="hidden">
                                    <input name="product_id[]" value="{{ cart_item.product.product_id }}" type="hidden">
                                    <input name="cart_id[]" value="{{ cart_item.id }}" type="hidden">
                                </div>
                                {% endfor %}
                            </div>
                            <div class="border-bottom pt-3 pb-2">
                                <div class="d-flex justify-content-between mb-3">
                                    <h6>Subtotal</h6>
                                    <h6>{{ total_price|format_price }}</h6>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-medium">Discount</h6>
                                    <h6 class="font-weight-medium" name="couponid" value="{{ couponid }}">{{discount}}%</h6>
                                    <input name="couponid" value="{{ couponid }}" type="hidden">
                                </div>
                            </div>
                            <div class="pt-2">
                                <div class="d-flex justify-content-between mt-2">
                                    <h5>Total</h5>
                                    <h5>{{ total_price|format_price }}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="mb-5">
                            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Thanh toán</span></h5>
                            {% csrf_token %}
                            <input type="hidden" name="cmd" value="_xclick" id="id_cmd">
                            <input type="hidden" name="charset" value="utf-8" id="id_charset">
                            <input type="hidden" name="currency_code" value="USD" id="id_currency_code">
                            <input type="hidden" name="no_shipping" value="1" id="id_no_shipping">
                            <input type="hidden" name="business" value="{{ paypal_address }}" id="id_business">
                            <input type="hidden" name="amount" value="{{ total_price }}" id="id_amount">
                            <input type="hidden" name="notify_url" value="http://localhost:8000/paypal/" id="id_notify_url">
                            <input type="hidden" name="cancel_return" value="http://localhost:8000/payment-failed" id="id_cancel_return">
                            <input type="hidden" name="return" value="http://localhost:8000/checkout-paypal-success" id="id_return">
                            <input type="submit" class="btn btn-block btn-primary font-weight-bold py-3" value="Thanh toán với Paypal">
                        </div>
                <div>
                    
                </form>
            </div>
        </div>
    </div>
    <!-- Checkout End -->
{% endblock %}