{% extends "home/base.html" %}
{% load static %}
{% load custom_filter %}
{% block placeholder %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <span class="breadcrumb-item active">Profile</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">User Profile</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-3 mb-5">
                <div class="product-img position-relative overflow-hidden mb-4" style="border-radius: 50%;">
                    <img class="img-fluid w-100" src="{% static 'img/user_image' %}/{{ user_profile.user_image_path }}" alt="" style="border-radius: 50%;">
                </div>
                <div class="bg-light p-30 mb-3">
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>{{ user_profile.address }}</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>{{ user.email }}</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>{{ user_profile.phone }}</p>
                </div>
            </div>
            
            <div class="col-lg-7 mb-5">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <form name="sentMessage" novalidate="novalidate" action="/update-profile" method="post">
                        {% csrf_token %}
                        <div class="control-group">
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name"
                                required="required" data-validation-required-message="Please enter first name" value="{{ user.first_name }}">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name"
                                required="required" data-validation-required-message="Please enter last email" value="{{ user.last_name }}">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                required="required" data-validation-required-message="Please enter email" value="{{ user.email }}">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" id="age" name="age" placeholder="Age"
                                required="required" data-validation-required-message="Please enter a subject" value="{{ user_profile.age }}">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" id="address" name="address" placeholder="Address"
                                required="required" data-validation-required-message="Please enter a subject" value="{{ user_profile.address }}">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone"
                                required="required" data-validation-required-message="Please enter a subject" value="{{ user_profile.phone }}">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" id="image" name="image" placeholder="Image"
                                required="required" data-validation-required-message="Please enter a image" value="image path">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit">Update Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock %}
